{
	"data": "ENC[AES256_GCM,data:kSPn1WiWWhq+ydlWR/xmxlMxxQFIVbq8XxxhkOdK8u49tymOpbL9qJdFte+H/kqxSaOQJc1scGsk4E9QJxBmDvRzHHJ6p7/z1rSAbTWLJbx0uCTWKDg/JthmLciY08l58UPn75xhXvABO+fXePUZvc0cw/tiiS7Lo5zYWhGexGyG06gNRYScrXOPgDl3+0SLQw3ZyUt5TFyj0XZgb3ffgnEFAu+Z1EQPe2JTHxadXqTrbgqz/8xurw7/4jnWhgdzfS2j3wVer4bCfAgasnAXKzDBGy6sNf4/5H4qcyVk5AelCsq1d/WCTO7HI25u8frUk4eggwEkFIM5gompYSXAwmf+YtL9UR8Cx7WfXxhHWk7WHtQebEZqUQofURTiXSFybClgeKKQAxiTYX9+sAM4Nflc6m3+z+cthi2DHqwoPftydnCfautT8W+o5AM5ozykTc7Hf3ViTwuPUMbXCo4hKvMpJZnc/DLubphKsUuMMRwayMfPBsvygd2dr7qXz47aG58MYmZV14/BhlVD6A10LGbEyU2kIM/7chZElHO8CP3TmkBlJBieU/1Nsy+jU+ThkFt8OLFg0OEFlbK0npLMoHkdgmB7jUwT/XtGwaB2+ETzBl+v+D9kjjn6H/S2jG8C/AqQvpciuwRJxVY/371p7/kP3jPROpjk+emwq0jm,iv:RmxJDBGfqXjkw3jL+cP5v7nCnlEptQXUoyl8OZemnxA=,tag:N2s1iDDAgcQuTOZF4AJ8mQ==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age1ghugg6ta8teurj09r54f6hpn224wnu7tyz8067kxg7aue6ymc9dsyw35c2",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBBODJHY0xlbnhFRnAvQ2kz\nRUlDNkQ0QjkySi9UY3hFUHNDaW1Lb2VSZW00CmJnMEVHb0U1azk4YmZzclZuTm4r\nWkIrRytPS1kzRWJhVmUyaTdyVVNhMVEKLS0tIGxvOEEzVUFwSG1hVUNqRGhlaTdZ\nR2QyNEFsQlJkWHlsdjkvZHdGWi95d0kK//sZYB2GJB/4mwPBBTXyZ5zIt4j0YLiF\nJvoxV2/7PeZ9EBk02ykoYAp8CH8yEbKjw+wbhbApngcx4j0hXOJA1g==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2021-11-30T14:12:04Z",
		"mac": "ENC[AES256_GCM,data:g/bcJsXtv3sUuAiS6Zg30ANSdgJdS6/5sva0wgU8TtO33WTfRyj7hGEoah1CyXozk/z63ccueYbvbB7pS6gILWX2zOXLNpIl64dYaCQEn9wdCNrMa/gMpwpXHlll4zh7d/x9HeK2paXbHs4vyDlQ6G5EnlXLA0sJ8SS81brUYGY=,iv:7eIh4gxIUBBGU6zF+nCcy95nJ2Eg28P/DGfIjsAINa4=,tag:YbMbsMQCvEG0lnzpZVTF2w==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.7.1"
	}
}