{
	"data": "ENC[AES256_GCM,data:A4OcBGKRjxkRhLJUOW9FsLNTK5sNxv9uAW6ZmZ7lRip8Z/vJVSbPCGDD+Rh4pjvL1ZCBLGCym12Cr0z9EWJxuSyOkFCuXFHp6ptSXqSB7ZF9WH4lMTmqpV+Bqw7NEHPd+Vu3despByP0oTkDxrVmpkU8L7PPqFaTsl0Y4uTGAhEj4nt71h1TQ2VwIdQel8dc47LLaFJhtJy2hfCRlIKrz9IBm8r85CEDM7sBFHW/MFS58a7QbX+QWxnri8LcUqbKgDhuMnQrhwjGIIdVBRsd29YXAYi1VT9zOanyRG5B6HkHPHtnMOuz5AAjRlJ6uGwOEtsAGe6zE/SnFBPUvzhwu3sM2wB1ZstS+m8Jn/2RPfApYI5vG68C9RULpAT7NIAhSvWCpvyqIXykoo6uzSNmyWMmB/4m1V79y2Ava16WEG/4baAf1wt0uvx4fCWDOltmdXIWGzqsYYVh0QVf/UpfuqVaAqLcqgV8m5jgI4bLp9xfdvDvoNa6Et1VckEcK6/4uv/ETMKWlQQdmLpvIc6abJE3lfoWmjVcl7aCUJ7CYbGJnxyA0IjrM4ZgFZEgbcvIWfImjpTMn11BvQeUHHh0t0anGsy+04i474iNBC4D8R10BjhU4qM+RU/fLsd+qAKznFBpBEnI5NspQ3+8Fq2Kb7np/0+QlUnracYUgxyDkQ==,iv:u3B7a0t6alvEDGLjSxxC51+TzNfLhsWyacEpXIeZcM8=,tag:LIB3GVVgWn53Pp6C68XyQA==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age1ghugg6ta8teurj09r54f6hpn224wnu7tyz8067kxg7aue6ymc9dsyw35c2",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA2bEtmWmozc2h2b0M0UWJ5\nRkVRSkt6cVh0M1pjMDJxUk5jS2hWbHR4UER3CmRnRWFuc29TeTlZc0R5RGk2NEFR\nRE95SnhxU2FMRUxCTlRVLzlNbFFrcG8KLS0tIHhxQ01kUDk5S3NFREpJZVd5RThr\ndWx2NGVpWkFiZ2lIRmc0R1lmVmNDcmMKg0d2/BStf8kbkEvKDA8K5c3TsvVKtsMs\nq2xKE/jXpjeFQmqU6mlK2Wd870dYzbQrMX4O72AxbwE6OJ0+iYlL5A==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2021-11-30T14:12:03Z",
		"mac": "ENC[AES256_GCM,data:jUbnFtIZpjsGC2Dq2aYOfitR0RYFLoTig/lVZC95AvZF8MwUPgKxMcUUoa5S78m7nrpmAV7o0QRlo05tyngt6whfrFG4ND/AOl0LLy4y2BIYSwD6okThn8vKgZtikLX1zQQb8apIQ5MqtWpy9NSmJN+DNpI5/bzpIcb60U62udM=,iv:mtur0gtzGAr3y357MtIIr2ig+jIQtv29zfT4aHgz2C0=,tag:3ANhRaPlf9+NRFfuzXUkmw==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.7.1"
	}
}