{
	"data": "ENC[AES256_GCM,data:4mG1SwiDUTJiqENCRRQ/ubpNUt+vOBrj/gB6iFdbVUcVQ2pUfTBvTPrT0kIkC7SremzkK1jRHWrgSi8XUPRursAm+za9U7BNAhY2PK0FttKh87WOL81anW++QorQj6VOIm1vQ0Ia2AB5SihAiYmpZ5ub+7VhPey2dtx4CuRr5O3o63sNkEPh7BeGVfU9N8g9Ufftles6wa9QXBUU5WGCubzDXYV0oV0OeGrsU+Y54qIUDfd9uHOMzQu/y4eVhTci8eFLrzcjH1a0i1CSNgyYc3BY0mfky5u8FI8vrlSMInkYa0rmJHmV3t+a,iv:jMVMPZRn84172GXqe+JAFPqwxyj3ijJvsIEA4KH9ugQ=,tag:DtMUP7bASfTbXkgZDuIvUw==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age1ghugg6ta8teurj09r54f6hpn224wnu7tyz8067kxg7aue6ymc9dsyw35c2",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBIZzJ4WHg5VjJJS0ZDV0lx\nUUMwZEltRnhYTk9uZTVuOVJpSkZlb2s5eXdRClZIazZHRlJzdHp0VGNPOWZSZ094\ndDNpdzN1UjlFYWhsS2ErZVJqQ3cxUXMKLS0tIFJtcXlBU1kvYUlXbjRYMEh4ODFO\nSEVHcHh3a2w3OE9aWDFoaTE4YXE3WmMKWtrXe6pBGcLF2z3lCsYVpJH7Y0k8/7zs\n2/UeC6WRPtkvm2gEd/FHuvNojrLD8UcH/7BDhwS7TJn34i9heoRa2w==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2021-11-30T14:12:03Z",
		"mac": "ENC[AES256_GCM,data:0wPYwMujqIgXvbSruMhJbukJa4Yu4rnrBA6oTQEQtIOUnaVa666nQ6BuUdy6NxshD+qlKZbXqfp52jkRFgKRxW1SHi1PMMH+WeOmv0n6O0+UNGXTXg28AqflVj/LY9n1LRD+UEKrkv9GHzO8NcFvqVCUOjx66qPQtfSz1zcfIc0=,iv:EMW+JZbNMhNV59PW5B3G/Kg/3grIqylDbm096LpIr+E=,tag:/ldfcUzLQXyFQLyOB/QbCw==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.7.1"
	}
}